<%- include('./partials/header.ejs') %> 

<%- include('./partials/breadcumb.ejs') %>

	<!-- Start Sample Area -->
	<section class="sample-text-area">
		<div class="container box_1170">
			<h3 class="text-heading">Text Sample</h3>
			<p class="sample-text">
				Every avid independent filmmaker has <b>Bold</b> about making that <i>Italic</i> interest documentary,
				or short
				
			</p>
		</div>
	</section>
	<!-- End Sample Area -->

	<!-- Start Button -->
	

	<!-- Start Align Area -->
	<div class="whole-wrap">
		<div class="container box_1170">
			<div class="section-top-border">
				<% if (currentUser) { %>
					<a class="btn btn-warning text-white" href="/addimage"> Add Image</a>
				<% } %>
				<div class="row gallery-item">

					<% image.forEach(image => { %>
						<div class="col-md-4">
							<!-- <a href="uploads/<%= image.imageUrl %>" class="img-pop-up"> -->
								<div class="single-gallery-image" style="background: url('/uploads/<%= image.imageUrl %>');"></div>
							<!-- </a> -->
							<h5><%= image.title %></h5>
						</div>
					<% }) %>
					
					<!-- <div class="col-md-6">
						<a href="img/elements/g4.jpg" class="img-pop-up">
							<div class="single-gallery-image" style="background: url(img/elements/g4.jpg);"></div>
						</a>
					</div>  -->
				
				</div>
			</div>
		</div>
	</div>
	<!-- End Align Area -->

  <%- include('./partials/footer.ejs') %> 